* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  background-color: black;
  -webkit-user-select: none;
}

body {
  height: 100%;
  width: 100%;
  margin: 20px;
  color: white;
  font-size: 25px;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.flex-start {
  align-self: flex-start;
}

.flex-end {
  align-self: flex-end;
}

.fade {
  display: none;
}

img#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.875;
  z-index: -1;
}

h1 {
  font-size: 200px;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}
